.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #25252b;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo .highlight {
  color: #e46033;
}

.navbar-center {
  display: flex;
  gap: 25px;
}

.nav-item h4 {
  margin: 0;
  font-size: 16px;
}

.nav-item p {
  margin: 0;
  font-size: 12px;
  color: #aaa;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.login-btn {
  background: #e46033;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #cf5028;
}

.profile-icon {
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-icon:hover {
  opacity: 0.8;
}

